.body {
    background-color: #FBF9EF;
    height: 51.9375em;
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid rgba(30, 30, 30, 0.8);
}

.body_inner {
    display: flex;
    align-items: center;
    margin: auto 0px;
}


.body_inner_text {
    display: flex;
    margin-left: 34px;
    flex: 1;
    max-width: 45%;
    flex-direction: column;
}

.body_inner_text p {
    font-family: 'Beausite Classic Web';
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 58px;
    color: #1E1E1E;
}


.body_inner_image .body_inner_image_wrapper {
    height: 51.9375em;
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    object-fit: cover;
}

.body_inner_image .body_inner_image_wrapper .body_inner_image_wrapper_inner {
    width: 100%;
    height: auto;
    display: flex;
}

.body_inner_image .body_inner_image_wrapper .body_inner_image_wrapper_inner img {
    width: 100%;
    height: auto;
}

.button {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    gap: 8px;
    border: 0.5px solid rgba(30, 30, 30, 0.8);
    border-radius: 100px;
    width: 9.5em;
    height: 2.6875em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #142510;
    transition: all 0.2s ease-in-out;
}


.button:hover p {
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.button:hover svg path {
    fill: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.button p {
    font-family: 'Beausite Classic Web';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    color: rgba(30, 30, 30, 0.8);
}